.main {
  align-items: center;
  background: #f8f8f8;
  background: linear-gradient(
    251.68deg,
    rgba(255, 71, 245, 0.16) -1.25%,
    rgba(255, 164, 69, 0.1408) 18.08%,
    rgba(233, 226, 74, 0.16) 37.41%,
    rgba(115, 238, 172, 0.16) 56.75%,
    rgba(60, 149, 248, 0.16) 76.08%,
    rgba(209, 99, 255, 0.16) 95.41%
  );

  display: flex;
  justify-content: center;
  height: 100%;
  padding: 90px 60px 120px 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 600px;
  width: 100%;
}

.header,
.headerText,
.section,
.list,
.orderedList,
.callout,
.calloutSection,
.sectionCentered,
.footer {
  display: flex;
  flex-direction: column;
}

/* Typography */

.headingLarge,
.headingMedium,
.headingMediumLight,
.headingSmall,
.headingXsmall,
.bodyText,
.listItem,
.link,
.btn,
.orderedList li {
  color: #21242c;
  font-family: "IBM Plex Sans", sans-serif;
}

.headingLarge,
.headingMedium,
.headingSmall,
.headingXsmall,
.bodyText strong,
.listItem strong {
  font-weight: 600;
}

.listItem em {
  text-decoration: line-through;
}

.headingLarge {
  font-size: 48px;
  line-height: 58px;
}

.headingMedium,
.headingMediumLight {
  font-size: 30px;
  line-height: 40px;
}

.headingSmall {
  color: #21242c;
  font-size: 20px;
  line-height: 1.4;
}
.headingXsmall {
  font-size: 17px;
  margin-bottom: 4px;
}

.headingXsmall:not(:first-child) {
  margin-top: 16px;
}

.bodyText,
.listItem,
.orderedList li {
  font-size: 17px;
  line-height: 27px;
}

.link {
  background: #f5ff4b;
  border-bottom: 2px solid transparent;
  padding: 0 4px;
  color: #21242c;
  font-weight: 700;
  text-decoration: none;
}
.link:hover {
  border-bottom: 2px solid #21242c;
}

/* Lists */
.list {
  gap: 16px;
  list-style: decimal;
  margin-left: 20px;
}

.orderedList {
  gap: 8px;
  list-style-type: disc;
  margin-left: 20px;
}

/* Alignment */

.headerText,
.section {
  gap: 16px;
}

.header {
  gap: 32px;
}

.callout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.calloutSection {
  gap: 8px;
  border-top: 1px solid #21242c;
  padding-top: 32px;
}

.calloutSection:first-child {
  border-top: none;
}

.calloutSection:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #21242c;
}

.sectionCentered {
  align-items: center;
  border-radius: 10px;
  gap: 32px;
  justify-content: center;
  padding: 32px;
  text-align: center;
}

.footer {
  align-items: center;
}

.image {
  border-radius: 2px;
  border: 1px solid #21242c;
}

/* Buttons */
.btn {
  background: #f5ff4b;
  border: 1px solid #21242c;
  border-radius: 2px;
  display: block;
  color: #21242c;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 32px;
  text-decoration: none;
  width: fit-content;
}

.btn:hover {
  border: 1px solid #21242c;
  background: #21242c;
  color: #f5ff4b;
}

/* mobile */

@media only screen and (max-width: 500px) {
  .main {
    padding: 48px 20px 48px 20px;
    gap: 32px;
  }
  .wrapper {
    gap: 48px;
  }
  .headingLarge {
    font-size: 44px;
    line-height: 1.2;
  }
  .headingMedium,
  .headingMediumLight {
    font-size: 26px;
    line-height: 120%;
  }
  .section {
    gap: 8px;
  }
}
