.main {
  align-items: center;
  background: #feffd2;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 90px 60px 120px 60px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1000px;
  width: 100%;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  color: #0a1635;
  font-family: "Syne", sans-serif;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
}

.main h1 {
  font-weight: 700;
  font-size: 113px;
  line-height: 114px;
}

.main h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.main h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.main p,
.main li {
  color: #0a1635;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.main p a {
  color: #0a1635;
  font-weight: 700;
  text-decoration: none;
}
.main p a:hover {
  text-decoration: underline;
}

.header .btn {
  margin-top: 20px;
}
.header .img {
  margin-top: 32px;
}

.btn {
  background: #99f141;
  border: 1px solid #0a1635;
  border-radius: 12px;
  color: #0a1635;
  display: block;
  font-family: "Syne";
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 20px;
  line-height: 24px;
  text-decoration: none;
  width: fit-content;
}
.btn:hover {
  background: #0a1635;
  border: 1px solid #99f141;
  color: #99f141;
  cursor: pointer;
}

.divider {
  border-bottom: 0.5px solid #0a1635;
  outline: none;
  width: 100%;
  opacity: 0.2;
}

.section,
.sectionBio,
.sectionCentered {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.sectionCentered {
  gap: 16px;
}
.sectionCentered {
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 700px;
}
.sectionText,
.sectionImage {
  width: 50%;
}
.sectionText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sectionText li {
  list-style-type: "✓ ";
  margin-bottom: 8px;
}
.section ul {
  padding-left: 18px;
}
.sectionImage {
  flex-grow: 1;
}

.sectionImage img {
  border: 1px solid #0a1635;
  border-radius: 12px;
  height: auto;
  width: 100%;
}
.sectionBio .sectionText {
  width: 75%;
}
.sectionBio .sectionImage {
  width: 25%;
}

.tag {
  font-size: 14px;
  font-weight: 700;
  background: #99f141;
  border: 1px solid #0a1635;
  padding: 8px 16px;
  width: fit-content;
}

/* Marquee */
.marqueeItem {
  display: inline-block;
  margin-right: 16px;
  font-size: 15px;
}

@media only screen and (max-width: 1100px) {
  .section {
    gap: 16px;
    flex-direction: column;
  }

  .section .sectionText,
  .section .sectionImage {
    width: 100%;
  }
  .sectionImage img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 80px 48px;
    gap: 60px;
  }
  .main h1 {
    font-size: 72px;
    line-height: 80px;
  }
  .sectionText {
    gap: 16px;
  }

  .sectionBio {
    gap: 16px;
    flex-direction: column;
  }
  .sectionBio .sectionText,
  .sectionBio .sectionImage {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    padding: 80px 20px 48px 20px;
    gap: 48px;
  }
  .header {
    gap: 16px;
  }
  .header .btn {
    margin-top: 20px;
  }
  .main h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .main h4 {
    font-size: 17px;
  }

  .main h3 {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .main h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .main p,
  .main li {
    font-size: 16px;
    line-height: 24px;
  }
  .btn {
    font-size: 15px;
  }
  .main li {
    margin-bottom: 8px;
  }
  .sectionCentered {
    padding: 60px 0;
  }
}
